body {
  background: #FFFFFF;
  color: #333333;
  font-size: 14px;
  font-family: 'Poppins', 'Open Sans', 'Yu Gothic', 'YuGothic', sans-serif;
  font-style: normal;
  font-weight: 300;
  hyphens: auto;
  line-height: 2em;
  margin-right: 20px;
  margin-left : 20px;
  margin-top: 80px;
  margin-bottom: 120px;
  position: relative;
  vertical-align: baseline;
  width: auto;
  -webkit-hyphens: auto;
  -webkit-text-size-adjust: 100%;
}
p {
  margin-bottom: 20px;
  text-align: justify;
}
a {
  color: #0659FF;
  text-decoration: none;
}
a:hover {
  background:#0659FF;
  text-decoration: none;
}
@media screen and (min-width: 660px) {
body {
  margin-right: auto;
  margin-left : auto;
  width: 580px;
}
a:hover {
  text-decoration: underline;
}
}
